<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title></title>
        <link href="__PUBLIC__/Admin/Flat/dist/css/vendor/bootstrap.min.css" rel="stylesheet">
        <link href="__PUBLIC__/Admin/Flat/dist/css/flat-ui.css" rel="stylesheet">
        <link href="__PUBLIC__/Admin/Flat/docs/assets/css/demo.css" rel="stylesheet">
        <link rel="shortcut icon" href="__PUBLIC__/Admin/Flat/img/favicon.ico">
</head>
<body>
    <form action="" method="post">
        <div class="alert alert-success">修改密码</div>
        <div class="form-group">
            <label for="exampleInputEmail1">旧密码</label>
            <input id="exampleInputEmail1" class="form-control" type="password" placeholder="" required="" name="password">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">新密码</label>
            <input id="exampleInputEmail1" class="form-control" type="password" placeholder="" required="" name="newPassword">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">确认密码</label>
            <input id="exampleInputEmail1" class="form-control" type="password" placeholder="" required="" name="confirmPassword">
        </div>
        <button class="btn btn-primary btn-block" type="submit"> 确定 </button>
    </form>

</body>
</html>
